<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">SmartTeeth</h1>
            <h3 class="mb-5">
                <em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis vitae nihil sapiente eum quaerat. Eveniet deleniti sunt mollitia neque. Placeat eveniet cum veritatis quasi autem quibusdam labore magni veniam deserunt!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Let's get started
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>